@import "src/styles";


.info{
    margin-left:  $marginLeft;
    display: flex;
    justify-content: space-between;
    padding: 1.4rem .5rem;
    flex-wrap: wrap;
    .sub-info{
      display: flex;
      gap: 1rem;
      margin : .5rem 0;
      span{
        color: $base4;
        font-weight: bold;
        font-size: 1.3rem;
      }
      p{
        color: $text1;
        font-weight: bold;
        font-size: 13px;
        font-size: 1rem;
        padding: 5px 0;
      }
    }
  }

  @media (max-width:900px) {
    .info{
        margin-left: 0;
    }
}