<div class="container">
    <h1>Tilte</h1>
    <div class="div-descripation">
        <h4>Descripation</h4>
        <p>
            At the same time, we do not know if all the details included in these descriptions
            really contribute relevant properties to the resulting sound quality.
        </p>
    </div>
    <div class="div-stack">
        <h4>Stack: </h4>
        <p> really, contribute, relevant, properties</p>
    </div>
    <div class="div-link">
       <div>
        <button>Github</button>
       </div>
       <div>
        <button>Demo</button>
       </div>
    </div>
</div>
